section.depoimentos{
    width: 100%;
}

.depoimento-pessoas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.depoimento-single{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.depoimento-single .text-depoimento{
    padding: 16px;
    text-align: justify;
    background-color:rgb(248, 251, 254);
    border-radius: 8px;
    color: #444;
    font-size: 14px;
    font-style: italic;
}

.depoimento-single .text-depoimento i{
    font-size: 28px;
    margin: 0 12px;
    color: #c4eeff;
}

.depoimento-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0 30px 0;
}

.depoimento-image img{
    max-width: 30%;
    transition: 1s;
    filter: grayscale(100%);
    border-radius: 50%; 
}

.depoimento-image img:hover{
    transition: 1s;
    filter: contrast(100%);
    transform: scale(1.1, 1.1);
}

.depoimento-image p{
    font-size: 12px;
    text-align: center;
    color: #444;
    font-size: 14px;
}

.depoimento-image span{
    font-size: 10px;
    color: #ccc;
}